.icnFeaList {}

.banner_inner_text p.portText {
  font-size: 18px;
}

.icnFeaList li {
  text-align: left;
  /* margin-left: 20%; */
  /* border-bottom: 1px solid #ccc; */
  padding: 0 50px;
  padding-bottom: 10px;
}

.icnFeaList li a {
  display: block;
  color: #000;
  border-bottom: 1px solid #ccc;
  width: 80%;
  float: right;
}

.feature_item {
  padding: 10px 0px 20px 0px;
}

.feature_item p {
  padding-bottom: 10px;
}

.service_feature .feature_inner .feature_item {
  margin-bottom: 80px;
}

.btnHdr {
  text-align: center;
}

.bd-callout p {
  float: left;
}

.ms_portfolio_inner .ms_p_item {
  float: left;
  text-align: center;
  margin: 10px 0;
}

.ms_portfolio_inner .ms_p_item img {
  width: auto;
}

.main_menu_area.navbar_fixed {
  z-index: 10000;
}

.modal-dialogPage {
  width: 90% !important;
  margin: 0 auto;
}

.workBg {
  background-color: #e1f2ff;
}

.workCont {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.col_1 {
  width: 50%;
  float: left;
}

.col_2 {
  width: 50%;
  float: right;
  text-align: right;
}

.col_2 img {
  border-radius: 100px;
  width: 150px;
  margin-bottom: 20px;
}

.workCl {
  display: block;
  text-align: right;
}

.workContHdr {
  margin-top: 20px;
  clear: both;
  margin-bottom: 40px;
}

.workContHdr p {
  margin: 10px 0;
  line-height: 20px;
}

.caseHead {
  color: #b8cee0;
}

.caseHeadTtl {
  color: #007bff;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #d5d5d5 !important;
  padding: 20px;
  height: 100px;
}

.carousel {
  height: 500px;
  overflow: hidden;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.feature_area, .team_people_area, .get_in_touch_area, .best_3d_area {
  margin-top: 50px;
  border-top: 1px dotted #ccc;
  padding-top: 50px;
}

.feature_area .container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.feature_area .container:last-child {
  border: none;
}

.none.get_in_touch_area {
  border: none !important;
  margin-top: 0 !important;
}

.shap_slider_inner .item h4 {
  font-size: 18px;
}

.main_menu_area.navbar_fixed {
  background-color: #b9deff;
}

.best_3d_area .right_text {
  width: calc(100% + 160px);
}

.single_img img {
  height: auto !important;
  width: 100% !important;
  top: 0px;
  position: relative;
}

.challange_text_inner {
  max-width: 100%;
}

@media only screen and (max-width: 425px) {
  .carousel {
    height: 150px;
  }
}

@media only screen and (min-width: 426px) and (max-width:768px) {
  .carousel {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile.ms_portfolio_inner {
    height: auto !important;
  }
  .mobile.ms_portfolio_inner .ms_p_item {
    position: relative !important;
    width: 44%;
    left: 0 !important;
    top: 0 !important;
    margin: 10px !important;
  }
  .col_1 {
    width: 100%;
    float: none;
  }
  .col_2 {
    width: 100%;
    float: left;
    text-align: left;
  }
  .col_2 img {
    border-radius: 200px;
    width: 40%;
  }
  .ms_portfolio_inner .ms_p_item img {
    width: 100% !important;
  }
  .carousel {
    overflow: hidden;
    background-color: #fff;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #d5d5d5 !important;
    padding: 0px;
    height: 15px;
  }
  .carousel-control-prev {
    left: 0px;
  }
  .carousel-control-next {
    right: 0px;
  }
}