<%@ master language="C#" autoeventwireup="true" inherits="New_SiteMaster, App_Web_sitemaster.master.cdcab7d2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%=ResolveUrl("~/favicon/apple-icon-57x57.png")%>" />
    <link rel="apple-touch-icon" sizes="60x60" href="<%=ResolveUrl("~/favicon/apple-icon-60x60.png")%>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%=ResolveUrl("~/favicon/apple-icon-72x72.png")%>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%=ResolveUrl("~/favicon/apple-icon-76x76.png")%>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%=ResolveUrl("~/favicon/apple-icon-114x114.png")%>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%=ResolveUrl("~/favicon/apple-icon-120x120.png")%>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%=ResolveUrl("~/favicon/apple-icon-144x144.png")%>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%=ResolveUrl("~/favicon/apple-icon-152x152.png")%>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%=ResolveUrl("~/favicon/apple-icon-180x180.png")%>" />
    <link rel="icon" type="image/png" sizes="192x192" href="<%=ResolveUrl("~/favicon/android-icon-192x192.png")%>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%=ResolveUrl("~/favicon/favicon-32x32.png")%>" />
    <link rel="icon" type="image/png" sizes="96x96" href="<%=ResolveUrl("~/favicon/favicon-96x96.png")%>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%=ResolveUrl("~/favicon/favicon-16x16.png")%>" />
    <link rel="manifest" href="<%=ResolveUrl("~/favicon/manifest.json")%>" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="<%=ResolveUrl("~/favicon/ms-icon-144x144.png")%>" />
    <meta name="theme-color" content="#ffffff" />
    <title>Renepay</title>
    <%--<link rel="icon" type="image/png" href="<%=ResolveUrl("~/images/favicon.ico")%>" />--%>
    <!-- main CSS -->
    <link href="<%=ResolveUrl("~/Styles/style-2.1.css")%>" rel="stylesheet" />

    <!-- Bootstrap Core CSS -->
    <link href="<%=ResolveUrl("~/Styles/bootstrap.min.css")%>" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="<%=ResolveUrl("~/Styles/metisMenu.min.css")%>" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="<%=ResolveUrl("~/Styles/sb-admin-2.css")%>" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="<%=ResolveUrl("~/Styles/font-awesome.min.css")%>" rel="stylesheet" type="text/css" />

    <link href="<%=ResolveUrl("~/styles/dataTables.bootstrap.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%=ResolveUrl("~/styles/responsive.css")%>" rel="stylesheet" type="text/css" />

    <style>
        .badge-notify
        {
            background: red;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
    <script>
        var mMenuUrl = "lnkDashboard";
    </script>
    <%--<link href="<%=ResolveUrl("~/Styles/tooltip-1.0.css")%>" rel="stylesheet" type="text/css" />--%>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="xScrMgrMaster" runat="server" AsyncPostBackTimeout="150000">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/jquery-ui-1.11.2.custom/external/jquery/jquery.js" />
                <asp:ScriptReference Path="~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.min.js" />
                <asp:ScriptReference Path="~/Scripts/bootstrap.min.js" />
                <asp:ScriptReference Path="~/Scripts/metisMenu.min.js" />
                <asp:ScriptReference Path="~/Scripts/sb-admin-2.js" />
                <asp:ScriptReference Path="~/Scripts/common-2.1.js" />
                <asp:ScriptReference Path="~/Scripts/notify-1.0.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.dataTables.min.js" />
                <asp:ScriptReference Path="~/Scripts/dataTables.bootstrap.min.js" />
                <asp:ScriptReference Path="~/Scripts/jquery.slicknav.js" />
            </Scripts>
        </asp:ScriptManager>
        <!-- Modal -->
        <ctrl:ProgressBar ID="xctrlProgressBar" runat="server" />
        <div class="modal fade" id="divMsgBox" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="msgHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="msgBody"></p>
                    </div>
                    <%--<div class="modal-footer" style="display: none;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>--%>
                </div>
            </div>
        </div>
        <div class="modal fade" id="divReportDet" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="Header"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="Body"></p>
                    </div>
                    <%--<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>--%>
                </div>
            </div>
        </div>
        <div class="modal fade" id="divtimeOut" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="javascript:link_click('D');">&times;</button>
                        <h4 class="modal-title" id="msgHeaderTimeOut"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="msgbodytimeOut"></p>
                    </div>
                    <%--<div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="javascript:link_click('D');">Close</button>
                    </div>--%>
                </div>
            </div>
        </div>
        <div class="modal fade" id="divProfileComplete" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnProfileClose" runat="server" class="close" onserverclick="btnProfileClose_click"
                            onclick="javascript:link_click('H');">
                            &times;</button>
                        <h4 class="modal-title" id="H2" runat="server">Manage your Account</h4>
                    </div>
                    <div class="modal-body txtCenter">
                        <p id="pRegMsg" runat="server" style="text-align: left">
                            Please update your profile, to start responding to customer requests
                        </p>
                        <br class="cl" />
                        <div style="text-align: right">
                            <asp:LinkButton ID="xlnkBtnUpdateProfile" runat="server" CssClass="btnRed"
                                OnClick="xlnkBtnUpdateProfile_click">Continue</asp:LinkButton>
                            <asp:LinkButton ID="xlnkBtnProfileClose" runat="server" CssClass="btnRed" OnClick="btnProfileClose_click">Show me later</asp:LinkButton>
                        </div>
                    </div>
                    <%--<div class="modal-footer" style="display: none">
                        <asp:LinkButton ID="xlnkBtnUpdateProfile" runat="server" CssClass="btnRed"
                                   OnClick="xlnkBtnUpdateProfile_click">Submit</asp:LinkButton>

                             <asp:LinkButton ID="xlnkBtnProfileClose" runat="server" CssClass="btnRed" OnClick="btnProfileClose_click"
                                 >Show me later</asp:LinkButton>
                         <a class="btnRed" href="#" id="lnkNext" runat="server"
                                onclick="javascript: return false;" onserverclick="lnkAddUsers_click">ADD ADDITIONAL USERS</a>
                             <a class="btnRed" href="#" id="lnkIsAddUser" runat="server" target="_blank" onserverclick="lnkClose_click"
                                >Close</a>
                    </div>--%>
                </div>
            </div>
        </div>
        <div class="modal fade" id="divAddUser" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="lnkbtnAddUserClose" runat="server" class="close" onserverclick="xlnkBtnLater_click"
                            onclick="javascript:link_click('H');">
                            &times;</button>
                        <h4 class="modal-title" id="H3" runat="server">Renepay</h4>
                    </div>
                    <div class="modal-body txtCenter">
                        <p id="p1" runat="server">
                            Would you like to add more users to make the most of Renepay?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <asp:LinkButton ID="xlnkbtnSubmitAddUser" runat="server" CssClass="btnRed"
                            OnClick="xlnkbtnSubmitAddUser_click">Continue</asp:LinkButton>
                        <asp:LinkButton ID="xlnkBtnLater" runat="server" CssClass="btnRed"
                            OnClick="xlnkBtnLater_click">Show me later</asp:LinkButton>
                        <asp:LinkButton ID="lnkbtnDntSubmit" runat="server" CssClass="btnRed"
                            OnClick="lnkbtnDntSubmit_click">No, don’t show again</asp:LinkButton>
                        <%-- <a class="btnRed" href="#" id="lnkNext" runat="server"
                                onclick="javascript: return false;" onserverclick="lnkAddUsers_click">ADD ADDITIONAL USERS</a>
                             <a class="btnRed" href="#" id="lnkIsAddUser" runat="server" target="_blank" onserverclick="lnkClose_click"
                                >Close</a>--%>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <asp:UpdatePanel ID="xuplnMenue" runat="server" UpdateMode="Conditional">
                <ContentTemplate>
                    <!-- Navigation -->
                    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <asp:Literal ID="xlitLogo" runat="server"></asp:Literal>
                        </div>
                        <asp:Literal ID="xlitUserMenu" runat="server"></asp:Literal>
                        <!-- /.navbar-top-links -->
                        <div class="navbar-default sidebar" role="navigation">
                            <asp:Literal ID="xlitUserInfo" runat="server"></asp:Literal>
                            <div class="sidebar-nav navbar-collapse">
                                <asp:Literal ID="xlitMenu" runat="server"></asp:Literal>
                            </div>
                            <!-- /.sidebar-collapse -->
                        </div>
                        <!-- /.navbar-static-side -->
                    </nav>
                    <!-- Page Content -->
                    <asp:Literal ID="xliltNotify" runat="server"></asp:Literal>
                </ContentTemplate>
            </asp:UpdatePanel>
            <div id="page-wrapper">
                <asp:UpdatePanel ID="xupnlHelp" runat="server" UpdateMode="Conditional">
                    <ContentTemplate>
                        <div id="divHelp" runat="server">
                            <div class="btn-help btnHelper">
                                <img src="../images/icn-help.png" />
                            </div>
                            <div class="helpBlockAll"></div>
                            <div class="fr helpBlk  srh-help helpSlide newUI">
                                <!-- faq start here -->
                                <ctrl:FAQ ID="xFAQ" runat="server" />
                                <!-- faq end here -->

                                <!-- chat start here -->
                                <%--<div class="chatBlk" style="display: none">--%>
                                <div class="chatBlk">
                                    <div class="panel-group" id="chataccordion">
                                        <ctrl:Feedback ID="xFeedback" runat="server" Data_Parent="chataccordion"></ctrl:Feedback>
                                    </div>
                                </div>
                                <!-- chat end here -->
                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
                <div class="main supplier newUI ">
                    <asp:UpdatePanel ID="xupnlPageHeader" runat="server" UpdateMode="Conditional">
                        <ContentTemplate>
                            <asp:Literal ID="xlitPageScript" runat="server"></asp:Literal>
                            <div class="topBlk" id="divPageHeader" runat="server">
                                <div class="mainHead fl">
                                    <img id="imgIcn" runat="server" src="" />
                                    <asp:Literal ID="xlitCap" runat="server" Text=""></asp:Literal>
                                </div>
                                <br class="cl" />
                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                    <asp:UpdatePanel ID="xupnlHelpV" runat="server" UpdateMode="Conditional">
                        <ContentTemplate>
                            <div id="divHelpH" runat="server" class="immrt20">
                                <div class="btn-help btnHelper">
                                    <img src="../images/icn-help.png" />
                                </div>
                                <div class="helpBlockAll"></div>

                                <div class="helpBlk helpSlide newUI whiteBox helpBlkH">
                                    <div class="imw49p fl">
                                        <div class="faqBlk">
                                        <!-- faq start here -->
                                        <ctrl:FAQ ID="xFAQH" runat="server" />
                                        <!-- faq end here -->
                                            </div>
                                    </div>
                                    <div class="imw49p fr">
                                        <!-- chat start here -->
                                        <%--<div class="chatBlk" style="display: none">--%>
                                        <div class="chatBlk">
                                            <div class="panel-group" id="Div2">
                                                <ctrl:Feedback ID="xFeedbackH" runat="server" Data_Parent="chataccordion" IsCollapsed="true"></ctrl:Feedback>
                                            </div>
                                        </div>
                                        <!-- chat end here -->
                                    </div>
                                    <br class="cl" />
                                </div>

                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
                <ctrl:SiteFooter ID="xctrlFooter" runat="server" Visible="false" />
                <br class="cl" />
            </div>
            <!-- /#page-wrapper -->
            <div class="footer"></div>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
        </asp:ContentPlaceHolder>
        <asp:Literal ID="xlitMsgScript" runat="server"></asp:Literal>
        <asp:Literal ID="xlitScript" runat="server"></asp:Literal>
    </form>
</body>
</html>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84938297-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    /*footer nav script*/
    $(document).ready(function () {
        $('#fnav').slicknav({
            prependTo: '#FootNav',
            label: 'FOOTER MENU'
        });

        $('.btnHelper').click(function () {
            $('.helpSlide').addClass('HelpMoveRight');
            $('.helpSlide').show();
            $('.helpBlockAll').css('display', 'block');
            $('.helpBlockAll').show();
            $('.helpSlide').stop().animate({ 'marginRight': '0px' }, 1000);
            return false;
        });
        $('.helpBlockAll').click(function () {
            $('.helpBlockAll').hide();
            $('.helpSlide').stop().animate({ 'marginRight': '-768px' }, 200);

        });

        $(".modal").on('hidden.bs.modal', function () {
            $('body').css('padding-right', '0px');
        });
    });
</script>
