/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04rem;
}

.serviceHdr .list-group-item {
    border: none;
    padding-left: 0px;
    color: #3fc8ff;
}

.serviceHdr i, .abtHdr i {
    color: #3fc8ff;
    font-size: 42px;
}

.serviceHdr p {
    font-size: 0.9rem;
    color: #999;
}

.serviceHdr a {
    text-decoration: none;
}

.serList {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 0px;
}

.serList a {
    color: #999;
}

.h-400 {
    height: 400px !important;
}

@media (min-width: 768px) {
    .h-md-800 {
        height: 800px !important;
    }
    .col-md-full-right {
        position: absolute;
        width: 1000%;
        max-width: 50%;
        height: 100%;
        right: 0;
        bottom: 0;
    }
}