<%@ master language="C#" masterpagefile="~/SiteMaster.master" autoeventwireup="true" inherits="New_Settings_SettingMaster, App_Web_settingmaster.master.f634c32f" %>

<%@ MasterType VirtualPath="~/SiteMaster.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolderhead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="main supplier" id="divsupplier">
        <div class="topBlk">
            <asp:ContentPlaceHolder ID="ContentPlaceHolderButton" runat="server">
        </asp:ContentPlaceHolder>
        <br class="cl">            
                </div>
        
        <div class="clmn1">
                    <div class="row1">
    
                        <div class="whiteBox ">
                            <div class="email">
                            <div class="leftBlk">
                               
            <ul class="mailCategory">
                        <li><asp:LinkButton ID="lnkbtnCompose" runat="server" OnClick="lnkbtnCompose_Click">Compose</asp:LinkButton></li>
                        <li><asp:LinkButton ID="lnkbtnInbox" runat="server" CssClass="act" OnClick="lnkbtnInbox_Click">Inbox</asp:LinkButton></li>
                        <li><asp:LinkButton ID="lnkbtnSentMail" runat="server" OnClick="lnkbtnSentMail_Click">Sent Mail</asp:LinkButton></li>
                        <li><a href="#" data-toggle="collapse" data-target="#demo">Category<span class="caret"></span></a>
                            <ul  id="demo" class="collapse">
                                <li><asp:LinkButton ID="xlnkbtnRFP" runat="server" OnClick="xlnkbtnRFP_Click">RFPs</asp:LinkButton></li>
                                <li><asp:LinkButton ID="xlnkbtnNegotiation" runat="server" OnClick="xlnkbtnNegotiation_Click">Negotiation</asp:LinkButton></li>
                                <li><asp:LinkButton ID="xlnkbtnPurchase" runat="server" OnClick="xlnkbtnPurchase_Click">Purchase</asp:LinkButton></li>
                                <li><asp:LinkButton ID="xlnkbtnOthers" runat="server" OnClick="xlnkbtnOthers_Click">Others</asp:LinkButton></li>
                            </ul>
                        </li>
    				</ul>
        </div>
                                <div class="rightBlk">
            <asp:ContentPlaceHolder ID="ContentPlaceHolderContent" runat="server">
        </asp:ContentPlaceHolder>
        </div>
                                <br class="cl" />
                                </div>
                            </div>
                        </div>
                    </div>

    </div>

</asp:Content>

