<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="css/junscreen.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wraperJn">
        <div class="logo col1J">
            <img src="images/LCD-Logo-Junior-Movie-Schedule-Final.png" alt="" /></div>
        <div class="head col2J">TODAY’S SCHEDULE</div>
    </div>
    <div class="clr"></div>
    <div class="centCont">
        <div class="col2 mvImg">
            <img src="images/jnImg.jpg" alt="" />
        </div>
        <div class="col3 showCont">
            <h1>HOTER Transilvania 2 <span class="ftItlic">(SU)</span></h1>
            <div class="door">
                <ul>
                    <li class="ftItlic ftNorm">Door Opens</li>
                    <li>3:30</li>

                    <li class="colOrg">3:30</li>

                    <li>3:30</li>

                    <li class="colRed">3:30</li>
                </ul>
            </div>
            <div class="door showTime">
                <ul>
                    <li class="ftItlic ftNorm">Show Time</li>
                    <li>3:30</li>

                    <li class="colOrg">3:30</li>

                    <li>3:30</li>

                    <li class="colRed">3:30</li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="ftItlic">
        <div class="col1 beanBag seatCont">
            <img src="images/LCD-Junior-Seat-Icon-1.png" width="800" height="800" alt="" />
            <ul>
                <li><strong>BEAN BAG</strong></li>
                <li>SENIN- KAMIS <span>RP 50.000</span></li>
                <li>JUMAT - MINGGU / HARI LIBUR: <span>RP 50.000</span></li>
            </ul>
        </div>
        <div class="col1 dechChr seatCont">
            <img src="images/LCD-Junior-Seat-Icon-2.png" width="800" height="800" alt="" />
            <ul>
                <li><strong>DECK CHAIR</strong></li>
                <li>SENIN- KAMIS <span>RP 50.000</span></li>
                <li>JUMAT - MINGGU / HARI LIBUR: <span>RP 50.000</span></li>
            </ul>
        </div>
        <div class="col1 cinSeat seatCont">
            <img src="images/LCD-Junior-Seat-Icon-3.png" width="800" height="800" alt="" />
            <ul>
                <li><strong>CINEMA SEAT</strong></li>
                <li>SENIN- KAMIS <span>RP 50.000</span></li>
                <li>JUMAT - MINGGU / HARI LIBUR: <span>RP 50.000</span></li>
            </ul>
        </div>
        <div class="col1 sofaBed seatCont">
            <img src="images/LCD-Junior-Seat-Icon-4.png" width="800" height="800" alt="" />
            <ul>
                <li><strong>SOFA BED</strong></li>
                <li>SENIN- KAMIS <span>RP 50.000</span></li>
                <li>JUMAT - MINGGU / HARI LIBUR: <span>RP 50.000</span></li>
            </ul>
        </div>
        <div class="btmLin"></div>
        <div class="footHlr">
            <div class="schLegnd"><span class="bgcolBrw"></span>KURSI TERSEDIA<span class="bgcolOrg"></span>TERJUAL CEPAT <span class="bgcolRed"></span>HABIS TERJUAL </div>
            <div class="sem">(SU) SEMUA UMUR </div>
        </div>
    </footer>
</body>
</html>
