<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wraper">
        <header>
    <div class="logo"><img src="images/cinemaxx-logo.png" width="200" height="116" alt=""/></div>
    <div class="head"> TODAY’S SCHEDULE</div>
  </header>
        <div class="content">
            <div class="col3 brdr">
                <div class="col3-1 ">
                    <div class="img">
                        <img src="images/img1.jpg" width="194" height="277" alt="" /></div>
                    <div class="mvcontHlr">
                        <div class="conthead">
                            <p>
                                CAPTAIN AMERICA: THE WINTER SOLDIE</p>
                            <span>23+</span>
                        </div>
                        <div class="screen">
                            ULTRA XD</div>
                        <div class="schedule">
                            <a class="colRed">11:30</a> <a class="">12:30 </a><a class="">13:30 </a>14:00 <a
                                class="">15:30 </a><a class="colOrg">17:30 (3D ATMOS) </a><a class="">19:30</a><a
                                    class="colRed"> 20:00 </a>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="col3-1 brdTop">
                    <div class="img">
                        <img src="images/img1.jpg" width="194" height="277" alt="" /></div>
                    <div class="mvcontHlr">
                        <div class="conthead">
                            CAPTAIN AMERICA: THE WINTER SOLDIER
                        </div>
                        <div class="screen">
                            ULTRA XD</div>
                        <div class="schedule">
                            <a class="colRed">11:30</a> <a class="">12:30 </a><a class="">13:30 </a>14:00 <a
                                class="">15:30 </a><a class="colOrg">17:30 (3D ATMOS) </a><a class="">19:30</a><a
                                    class="colRed"> 20:00 </a>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="col3-1 ">
                    <div class="img">
                        <img src="images/img1.jpg" width="194" height="277" alt="" /></div>
                    <div class="mvcontHlr">
                        <div class="conthead">
                            CAPTAIN AMERICA: THE WINTER SOLDIER
                        </div>
                        <div class="screen">
                            ULTRA XD</div>
                        <div class="schedule">
                            <a class="colRed">11:30</a> <a class="">12:30 </a><a class="">13:30 </a>14:00 <a
                                class="">15:30 </a><a class="colOrg">17:30 (3D ATMOS) </a><a class="">19:30</a><a
                                    class="colRed"> 20:00 </a>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="col3-1 brdTop">
                    <div class="img">
                        <img src="images/img1.jpg" width="194" height="277" alt="" /></div>
                    <div class="mvcontHlr">
                        <div class="conthead">
                            CAPTAIN AMERICA: THE WINTER SOLDIER
                        </div>
                        <div class="screen">
                            ULTRA XD</div>
                        <div class="schedule">
                            <a class="colRed">11:30</a> <a class="">12:30 </a><a class="">13:30 </a>14:00 <a
                                class="">15:30 </a><a class="colOrg">17:30 (3D ATMOS) </a><a class="">19:30</a><a
                                    class="colRed"> 20:00 </a>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
  <div class="footHlr">
    <div class="convfee">REGULER: SENIN S/D KAMIS: Rp 30.000,-  |  JUM’AT S/D MINGGU & HARI LIBUR:  Rp 50.000,- </div>
    <div class="schLegnd"><span class="bgcolBlue"></span>KURSI TERSEDIA<span class="bgcolOrg"></span>TERJUAL CEPAT <span class="bgcolRed"></span>HABIS TERJUAL </div>
  </div>
  <div class="footDtl">(SU) SEMUA UMUR | (13+) 13 THN KEATAS
    (17+) 17 THN KEATAS | (21+) 21 THN KEATAS</div>
</footer>
</body>
</html>
