@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
:root {
    --main-color: #fc661a;
    --color-white: #ffff;
    --color-gray: #333;
    --color-lightGray: #929292;
    --color-lightOrange: #FCEDE5;
    --font: 'Roboto Slab', serif;
    --color-brown: #451800;
    --color-bgGray: #f3f3f3;
    --ftH1: 1.4rem;
    --ftH2: 1.2rem;
    --ftH3: 1rem;
    --ftH4: 0.8rem;
}

@media (max-width:767px) {
    :root {
        --ftH1: 1.2rem;
        --ftH2: 1rem;
        --ftH3: .8rem;
        --ftH4: 0.7rem;
    }
}

/* common  */

.headBrd {
    border-top: 1px solid var(--color-white);
    box-shadow: 0px 0px 10px var(--color-lightGray);
}

/*  */

.btn:hover {
    background-color: var(--color-brown) !important;
}

body {
    font-family: 'Roboto Slab', serif;
    font-family: var(--font);
    font-size: 14px;
    list-style: 26px;
    color: var(--color-gray);
    background: url(../images/bg_pattern.gif) repeat;
    background-size: 30%;

}

#pageWrap {
    width: 1080px;
    margin: 0 auto;
    background-color: var(--color-white);
    position: relative;
    box-shadow: 0px 0px 20px 10px #6f6565;
}

/* top Cart Header */

/* .accHdrWrap {
    position: absolute;
    right: 0;
    z-index: 1;
} */

/* 

.accHdrWrap ul li {
    float: left;
    list-style: none;
    position: relative;
}

.accHdrWrap .adropdown-menu {right: 0 !important;}

.accHdrWrap li a {
    padding: 10px;
} */

/*  */

.headerMyAc {
    background-color: #fb661a;
}

.accHdr ul li {
    float: right;
    list-style: none;
}

a.headerMyAc i, a.headerCart i, a.headerMyAc, a.headerCart, .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.headerCart {
    background-color: #000;
}

/* banner */

.banrHdr {
    float: right;
    width: 70%;
}

.banrHdr .banrCont {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.banrImg img {
    width: 100%;
    height: 250px;
}

.banrImg {
    position: relative;
    width: 100%;
    text-align: right;
    justify-content: center;
    display: flex;
    align-items: center;
}

.banrImg .banrCont {
    width: 80%;
    position: absolute;
    /* padding-left: 20%; */
    right: 0;
    top: 35%;
    bottom: 0;
}

.banrCont.banrHead {
    color: var(--color-white);
    font-size: var(--ftH1);
}

.banrImg .banrCont .btn {
    background-color: var(--main-color);
    color: #fff;
    margin-top: 20px;
}

.carousel {
    position: relative;
    width: 100%;
}

.clr {
    clear: both;
}

/* breadcrub */

.brdcrumb {
    bottom: 10px;
    position: absolute;
    right: 0;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.brdcrumb a {
    color: var(--color-white);
}

.brdcrumb a.active {
    color: #fbc11a;
}
/* slogan */
.slogHdr {
    font-size: var(--ftH2);
    width: 60%;
    text-align: center;
    margin-top: 40px;
    clear: both;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.slogHdr p {font-style: italic; color:var(--color-lightGray);
font-size: var(--ftH4);}
/* owl */

.owl-theme .owl-nav {
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 25%;
}

.owl-next {
    right: 0;
    position: absolute;
}

.owl-prev {
    left: 0;
    position: absolute;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font-size: 50px;
    color: var(--color-lightGray);
}

.owl-stage-outer {
    width: 95%;
    margin: 0 auto;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: var(--color-white);
    color: var(--color-gray);
    text-decoration: none;
}

/* search Panel */

.serachHdr {
    background-color: var(--color-brown);
    padding: 20px;
    text-align: center;
}

.serachHdr h3 {
    color: #fff;
    font-size: var(--ftH1);
    position: relative;
    margin-bottom: 20px;
}

.serachHdr .serachInpWrap {
    /* display: flex;
    justify-content: space-around;
    margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 40px;
}
.bootstrap-select>.dropdown-toggle{
    height: 40px;
    font-size: var(--ftH3);
}
.serachInpWrap .dropdown {
    /* width: 29% !important; */
    width: 100% !important;
    padding-left: 100px;
    margin-left: 20px;
}

.serachInpWrap .sbCont {
    position: absolute;
    z-index: 1;
    background: var(--main-color);
    color: var(--color-white);
    padding: 9px 20px;
    border-radius: 10px 0px 0px 10px;
    left: 0;
    height: 40px;
}

.serachInpWrap .sbCont i {
    display: none;
}

.serachInpWrap .btnHdr .btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 6px 20px;
    border-radius: 0px 10px 10px 0px;
    height: 40px;
}

.serachInpWrap .btn.dropdown-toggle {
    border-radius: 0;
}

/* basic */

.mainHead {
    font-size: var(--ftH1);
}

/*  */

.sliderWrpHdr {
    text-align: center;
    margin-top: 20px;
}

.sliderWrap {
    display: flex;
    justify-self: center;
    padding: 20px 10px;

}

.sliderWrap .mainHead {
    text-align: center;
    width: 100%;
    display: block;
    font-size: var(--ftH1);
}

.slider {
    overflow: hidden;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
    justify-content: center;
}

.slid-hdr {
    margin: 0 10px;
    /* background-color: var(--color-white); */
}
.sliderWrap .slide-Item{width:95%;}
 /* .slide-Item a.slide-btn{width:auto;} */
.slide-Item {
    padding: 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
}
.owl-nav.disabled{
    display: block !important; outline:none;
}
.slide-Item a {
    color: var(--color-gray);
    text-decoration: none;
}

.slide-Item .img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.slide-Item .img img {
    width: 100%;
    height: auto;
}

.slide-Item .title {
    font-size: var(--ftH4);
    padding: 10px 0px 0px 0px;
}

.slide-Item .subTitle {
    font-size: var(--ftH4);
    font-style: italic;
    color: var(--main-color)
}

.slide-Item .subTitle a {
    color: var(--main-color);
    text-decoration: none;
}

.slide-Item .tilePrice {
    font-size: var(--ftH3);
    color: var(--color-brown);
    padding: 5px 0px;
}

.slide-Item a.slide-btn {
    font-size: var(--ftH4);
    background-color: var(--main-color);
    color: var(--color-white);
    padding: 0px;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 110px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-decoration: none;
    padding-right: 6px;

}

.slide-Item a.slide-btn span {
    background: url(../images/icn_cart.png);
    width: 35px;
    height: 20px;
    display: inline-block;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    position: relative;
    top: 2px;
}

.artCol .shape {
    position: absolute;
    right: 0;
}

/* author */

.art-wrap {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    height: 437px;
}

.art-wrap .artCol {
    background-color: var(--main-color);
    padding: 0px 30px;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 435px;
}

.art-wrap .artCol .img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: block;
}

.art-wrap .artCol .img img {
    width: 100%;
    border-radius: 100px;
}

.art-wrap .artCol h4 {
    font-size: var(--ftH2);
    color: var(--color-white);
    margin: 20px 0px;
}

.art-wrap .artCol .content {
    font-size: var(--ftH4);
    color: var(--color-white);
    width: 80%;
    overflow: hidden;
    height: 130px;
}

.art-wrap .artCol .btn {
    background-color: var(--color-brown);
    color: var(--color-white);
    margin-top: 20px;
    width: fit-content;
    padding: 5px 20px;
}

.art-wrap .slider {
    float: right;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-wrap .slider .slid-hdr {
    float: left;
    width: 35%;


}
.art-wrap .slider .slid-hdr .slide-Item{
    width:100%;
}

.art-wrap .slider a.btn {
    display: block;
    color: var(--color-brown);
}

.art-wrap .slider a.btn:hover {
    background-color: #fff !important;
    color: var(--main-color);
}

/* author detl page */

.authWrap.art-wrap {
    /* border: none; */
    height: auto;
}

.authWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-gray);
}

.authWrap.art-wrap .artCol {
    height: auto;
    float: left;
    width: 35%;
    padding: 20px;
    
}

.authWrap .artCol {
    background-color: var(--color-brown);
    color: var(--color-white);
    width: 40%;
    padding: 0px 40px;
    text-align: center;
}

.authWrap .artCol .img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

.authWrap .artCol h4 {
    margin: 30px 0px;
}

.authWrap .artCol .content {
    line-height: 25px;
}

.authWrap .artCol .content {
    font-size: var(--ftH4);
    color: var(--color-white);
    width: 100%;
    margin: 0 auto;
}

.authWrap .artCol .content p {
    margin-bottom: 30px;
}

.authSide {
    width: 60%;
    text-align: center;
    float: right;
}

.authSide .slider {
    width: 100%;
    padding: 0px;
    float: right;
    display: block
}

.authSide .slider .slid-hdr {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 45%;
}

/* banner Ad */

.bannerAd {
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

.bannerAd img {
    background-size: cover;
    width:728px;
    height: 90px;
}

/* shiping Holder */

.footBand {
    background-color: var(--color-lightOrange);
    padding: 20px;
    display: flex;
}

.footBand .col {
    text-align: center;
}

.footBand .col img {
    width: auto;
    height: 40px;
    margin: 10px;
}

.footBand .col .title {
    font-size: var(--ftH2);
}

.footBand .col .subTitle {
    font-size: var(--ftH4);
    color: var(--color-lightGray);
}

.footer {
    background-color: var(--color-brown);
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer .subSoc {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.footer .subsc-hdr {
    display: flex;
    width: 70%;
    align-items: center;
}

.footer .subsc-hdr .subsc-titl {
    color: var(--color-white);
    font-size: var(--ftH3);
}

.footer .subsc-hdr .subsc-titl p {
    font-size: 10px;
    margin:0px;
}

.footer .subsc-hdr .subsc-form {
    margin-left: 50px;
}

.footer .subsc-hdr .subsc-form input {
    border: none;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    width: 250px;
    padding-left: 20px;
}

.footer .subsc-hdr .subsc-form .btn {
    background-color: var(--main-color);
    color: #fff;
    height: 40px;
    position: absolute;
    border-radius: 0px 5px 5px 0px;
}

.footer .socialWidget {
    /* width: 25%; */
}

.socialWidget a {
    display: inline-flex;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    color: var(--color-brown);
    background-color: var(--color-white);
    border-radius: 100px;
    width: 25px;
    text-align: center;
    height: 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.socialWidget p {
    color: var(--color-white);
    margin: 0px 0px 5px 0px;
    font-size: var(--ftH4);
}

.footer hr {
    border-color: #ffffff36;
    width: 95%;
    margin: 10px auto;
}

.footer .footerLink {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    margin: 5px 0px;
    font-size: var(--ftH4);
}

.footer .footerLink a {
    display: inline-block;
    margin: 0 5px;
    color: var(--color-lightOrange);
    text-decoration: none;
    font-size: var(--ftH4);
}

.footer .footerLink a:before {
    content: '|';
    margin: 0px 10px 0px 0px;
}

.footer .copyrgt {
    font-size: 10px;
    color: var(--color-lightOrange);
    text-align: center;
}

/* filter */

.filterWrap {
    margin-top: 20px;
    padding: 0px 20px;
    padding-right:0px;
}

.fltList {
    margin-top: 10px;
}

.filterWrap .asideFilter {
    width: 23%;
    float: left;
}

.flListHdr .slide-Item {
    padding: 20px 15px;
    margin: 5px;
}

.filterWrap .fltList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filterWrap .filtScroll {
    overflow-y: scroll;
    height: 160px;
}

.filterWrap .flListHdr {
    /* margin: 0 10px; */
    width: 77%;
    float: right;
    /* text-align: center; */
    padding-left: 10px;
}

.filterWrap .flListHdr .slid-hdr {
    display: inline-block;
    margin: 0px;
    /* margin-bottom: 5px; */
    width: 24%;
}

/* checkbox */

.checkbox label {
    display: flex;
    align-items: center;
}

.checkbox input {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

/* .checkbox input{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
} */

/* chkbox */

/* product detail */

.prdWrap {
    padding: 20px;
    border-top: 1px dotted #ccc;
}

.prdWrap .prdWrap-img {
    width: 40%;
    float: left;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.prdWrap .prdWrap-img img {
    width: 200px;
    height: auto;
}

.prdWrap-cont {
    width: 60%;
    float: right;
}

.prdWrap-cont h1 {
    font-size: var(--ftH2);
    color: var(--main-color)
}

.prdWrap-cont h2 {
    font-size: var(--ftH3);
    color: var(--color-lightGray);
    margin: 20px 0px;
}

.prdWrap-cont p {
    color: var(--color-gray)
}

.prdWrap-cont p.cat {
    color: var(--color-lightGray)
}

.prdWrap-cont .qty {
    width: 150px
}

.prdWrap-cont .prc {
    font-size: var(--ftH1);
    color: var(--main-color);
    margin: 10px 0px;
}

.prdWrap-cont .btn {
    background-color: var(--main-color);
    color: #fff;
}

.prdWrap-cont .btnHdr {
    margin: 20px 0px;
    display: flex;
}

.prdWrap-cont .btnHdr .btn {
    background-color: var(--color-brown);
    color: #fff;
    margin-right: 20px;
}

.prdWrap-cont .btnHdr .btn.btnOrg {
    background-color: var(--main-color);
    color: #fff;
}

.prodautWrap {
    margin: 30px 0px;
    border-top: 1px dotted var(--color-lightGray);
    padding: 20px;
}

.prodautHdrWrp {
    width: 60%;
    float: left;
}

.prodautHdr {
    display: flex;
    margin-top: 20px;
}

.prodautHdr .contHdr {
    padding: 0px 30px;
}

.prodautHdr .contHdr .content {
    font-size: var(--ftH4);
    line-height: 24px;
}

.prodautHdr .img {
    float: left;
    margin-right: 20px;
}

.prodautHdr .img img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.prodautHdr h4 {
    font-size: var(--ftH3);
    color: var(--main-color);
}

.dtlContCol {
    float: left;
}

.prodDtlHdr {
    width: 35%;
    float: right;
}

.prodDtlHdr ul {
    margin: 0px;
    padding: 0px;
}

.prodDtlHdr li {
    border-bottom: 1px dotted var(--color-lightGray);
    list-style: none;
    padding: 10px 0px;
}

.sliderHdr .slider {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

/* cart */

.cartWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.cartHdr {
    clear: both;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--color-lightGray);
    padding-bottom: 10px;
}

.cartCol1 {
    width: 50%;
}

.cartCol2 {
    width: 50%;
}

.cartCol1 .cartImage {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
}

.cartCol1 .cartImage img {
    width: 100%;
    height: auto;
}

.cartCol1 .cartTitle {
    float: left;
    font-size: var(--ftH3);
}

.cartCol1 .cartTitle p {
    font-size: var(--ftH4);
    color: var(--color-lightGray);
}

.cartCol2 {
    float: right;
    display: flex;
    justify-content: space-between;
}

.cartCol2 .prc {
    float: left;
}

.cartCol2 .qty {
    float: left;
}

.cartCol2 .qty .input-group {
    width: 150px;
}

.cartCol2 .tot {
    float: left;
}

.cartOrderWrap {
    width: 40%;
    float: right;
}

.cartOrderWrap .title img {
    width: 75px;
    margin-right: 20px;
    float: left;
}

.cartOrderWrap .title p {
    margin: 0px;
}

.cartOrderWrap .title .bkauth {
    float: left;
}

.cartOrderWrap .title .auth {
    font-size: var(--ftH4);
}

.cartOrderWrap .head {
    font-size: var(--ftH3);
    color: var(--main-color);
}

.cartOrderHdr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted var(--color-lightGray);
    padding: 10px 0px;
    color: var(--color-gray);
    align-items: center;
}

.cartOrderHdr .bld {
    font-size: var(--ftH2);
    color: var(--color-brown);
}

.cartOrderWrap .btn {
    background-color: var(--main-color);
    color: var(--color-white);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.discHdr .formHdr {
    position: relative;
    width: 320px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.discHdr .formHdr input {
    border: none;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    width: 250px;
    padding-left: 20px;
    border: 1px solid var(--color-lightGray);
}

.discHdr .formHdr .btn {
    background-color: var(--color-lightGray);
    color: #fff;
    height: 40px;
    position: absolute;
    margin-top: 0;
    border-radius: 0px 5px 5px 0px;
    top: 0;
    right: 0;
}

.cartSlide {
    float: left;
    background: var(--color-bgGray);
    width: 55%;
    margin-top: 20px;
    padding: 30px 10px;
    text-align: center;
}

.cartSlide .slid-hdr {
    margin: 7px;
    display: inline-block;
    width: 47%;
}
.cartSlide .slid-hdr .slide-Item{
    width:90%;
}
/* shipping add */

.minHeight {
    min-height: 450px;
}

.delAddWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.delAddHdr-row {
    border: 1px solid var(--color-brown);
    margin: 10px 0px;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 0px;
}

.delAddHdr-row .nam {
    font-size: var(--ftH3);
}

.delAddHdr-row p {
    font-size: var(--ftH4);
    color: var(--color-lightGray);
}

.radio input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    top: 5px;
    position: relative;
}

.delAddHdr {
    float: left;
    width: 55%
}

.delAddWrapNewHdr {
    display: flex;
    align-items: center;
}

.delAddWrapNew {
    margin-top: 20px;
    background-color: var(--color-bgGray);
    padding: 20px 40px;
}

.delAddWrapNew .formHdr {
    /* display: block; */
    margin-top: 20px;
}

.delAddWrapNew .formHdr .select .bootstrap-select {
    width: 100%;
}

.delAddWrapNew .formHdr .select .bootstrap-select .btn-light {
    background-color: var(--color-white);
    font-size: var(--ftH4);
    color: var(--color-lightGray) !important;
    padding: 10px 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formGroup .genr {
    padding: 10px 0px 20px 0px;
    display: flex;
    justify-content: center;
    color: var(--color-lightGray);
}

.formGroup .genr input {
    margin: 0 10px;
    position: relative;
    top: 5px;
}

.error {
    background-color: var(--color-lightOrange);
    color: var(--color-brown);
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

.formGroup label {
    font-size: var(--ftH4);
    color: var(--color-lightGray)
}

.formGroup input {
    font-size: var(--ftH4);
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.formGroup .btn {
    background-color: var(--main-color);
    color: var(--color-white) !important;
    margin-top: 0px;
    justify-content: center;
    display: inline-block;
    padding: 5px 20px;
}

.loginHdr .formHdr .formGroup {
    border-bottom: 1px solid var(--color-lightGray);
}

.delAddWrapNewHdr .btn {
    background-color: var(--main-color);
    color: var(--color-white) !important;
    margin-top: 0px;
    justify-content: center;
    display: inline-block;
    margin-left: 20px;
    font-size: 10px;
    padding: 5px 20px;
}

.icnHdr {
    margin: 20px 0px;
}

.icnHdr a {
    display: inline-block;
    font-size: 24px;
    color: var(--color-lightGray);
    margin-right: 20px;
    text-decoration: none;
}

.icnHdr a span {
    font-size: var(--ftH4);
}

/* payment */

.paymentHdr {
    margin-top: 20px;
}

/* login */

.loginHdr {
    width: 50%;
    box-shadow: 0 0 10px #cccc;
    text-align: center;
    padding: 40px 60px;
    margin: 40px auto;
    border-radius: 10px;
}

.loginHdr .head {
    font-size: var(--ftH2);
    margin-top: 20px;
}

.loginHdr .formGroup {
    margin: 20px 0px;
}

.loginHdr .formGroup input {
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    outline: none;
}

.loginHdr .formGroup .btn {}

/* my account */

.accWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.accWrap .aside {
    width: 25%;
    float: left;
}

.accWrap .itemList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    margin-bottom: 10px
}

.accWrap .itemList a {
    display: block;
    padding: 20px 10px;
    color: var(--color-lightGray);
    border-bottom: 1px dotted var(--color-lightGray);
    text-decoration: none;
}

.accWrap .itemList a.active {
    color: var(--main-color);
}

.accWrap .bSide {
    margin: 0 10px;
    width: 72%;
    float: right;
    box-shadow: 0 0 10px #cccc;
    border-radius: 5px;
    padding: 20px 40px;
}

.bSide .bSideHdr {}

.bSide .bSideHdr .proHdr .formGroup input {
    border: 1px solid var(--color-lightGray);
}

.bSide .bSideHdr .delAddHdr-row {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    border-bottom: 1px dotted var(--color-lightGray)
}

.bSide .bSideHdr .proHdr .formGroup {
    /* border-bottom: 1px solid var(--color-lightGray) */
}

.accWrap .flListHdr .slid-hdr {
    display: inline-block;
    margin-bottom: 25px;
}

a.btnLink {
    color: var(--main-color);
    text-decoration: none;
}

a.btnLink:hover {
    color: var(--color-brown);
}

.accWrap .head {
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.orderHdr {}

.ordHdr p {
    margin: 0;
}

.orderHdr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--color-bgGray);
    padding: 10px;
}

.accWrap .ordHdr .hd {
    font-size: var(--ftH4);
    color: var(--color-lightGray);
}

.accWrap .ordHdr .subHd {
    font-size: var(--ftH3);
}

.accWrap .ordHdr .ordStatus {
    color: var(--main-color);
}

.ordPrdHdr {}

.ordWrap {
    border-bottom: 1px dotted var(--color-lightGray);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ordPrd {
    float: left;
    width: 70%;
}

.ordPrd img {
    float: left;
}

.ordPrd img {
    width: 100px;
    height: auto;
}

.ordPrd .bkauth {
    float: left;
    margin-left: 20px;
}

.ordPrd .bkauth .auth {
    font-size: var(--ftH4);
    color: var(--color-lightGray);
}

.ordPrd .bkauth .prc {
    color: var(--color-brown);
}

.ordAdd p {
    text-align: right;
    color: var(--color-gray);
}

.ordAdd {
    color: var(--color-lightGray);
    text-align: right;
}

/* confimation */

.confWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.confWrap .ordWrap {
    border: none;
}

.confSlide.cartSlide .slid-hdr {
    width: 23%;
    
}


.confSlide.cartSlide .slid-hdr .slide-Item {
    width: 100%;
}

.confWrap .ordPrdHdr {
    margin-bottom: 20px;
    border-bottom: 1px dotted var(--color-lightGray);
    padding-bottom: 20px;
}

.confWrap .cartSlide {
    float: none;
    width: 100%;
}

/* auth list */

.sortList {
    text-align: center;
    padding: 20px;
}

.sortList a {
    padding: 10px;
    display: inline-block;
    color: var(--color-brown);
}

.sortList a:hover, .sortList a.active {
    color: var(--main-color);
}

/*  Filter Category */

.flitCatWrapHdr .filter {
    width: 29%;
    display: inline-block;
    margin: 10px 20px;
}

a.flitCatHdr {
    width: 100%;
    display: inline-block;
    margin: 20px 10px;
    text-decoration: none;
    color: var(--color-lightGray);
    text-align: justify;
}

.flitCatHdr .img {
    float: left;
    padding: 10px;
}

.flitCatHdr .img img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.flitCatHdr h4 {
    margin: 10px 0px;
    font-size: var(--ftH3);
    color: var(--main-color);
}

.flitCatHdr .content::first-letter {
    font-size: var(--ftH4);
    font-size: 200%;
}

.flitCatHdr .filter {
    display: inline-block;
    width: 30%;
}

/* gallery */

.flitCatWrap .mainHead {
    margin: 20px;
    text-align: center;
}

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: var(--ftH2);
    border: 1px solid var(--color-lightGray);
    border-radius: 5px;
    text-align: center;
    color: var(--color-brown);
}

.filter-button:hover, .filter-button.active {
    font-size: var(--ftH2);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}

.btn-default:active, .filter-button:active {
    background-color: var(--main-color);
    color: var(--color-white);
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

/* adopt book */

.adoptWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.adoptWrap .mainHead {
    margin: 20px;
    text-align: center;
}

.cmgSoon {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #ccc;
    font-size: var(--ftH2);
    color: var(--color-lightGray);
}

/* publish book */

.pbWrap {
    border-top: 1px dotted var(--color-lightGray);
    padding: 20px;
}

.pbWrapHdr {
    display: flex;
}

.pbWrap .mainHead {
    margin: 20px;
    text-align: center;
}

.pbWrapCol1 {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    display: inline-block;
    margin: 10px;
}

.pbWrapCol1 .head {
    font-size: var(--ftH2);
    color: var(--main-color);
    margin: 10px 0px;
}

.pbWrapCol1 .headM {
    font-size: var(--ftH2);
}

.pbWrapItem {
    margin: 20px 10px;
}

/* tnc */

.TncWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.TncWrap .artical-main h1 {
    margin: 20px 0px;
    font-size: var(--ftH1);
}

.TncWrap .artical-main h2 {
    font-size: var(--ftH3);
    color: var(--main-color);
}

/* about team */

.abtWrap {
    padding: 20px;
    border-top: 1px dotted var(--color-lightGray);
}

.artical-main h1 {
    margin: 20px 0px;
    font-size: var(--ftH1);
    color: var(--main-color);
}

.abtWrap .col-xs-12.col-sm-6.col-md-4 {
    margin-bottom: 10px;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 0px 0px 10px rgb(158, 158, 158);
    -moz-box-shadow: 0px 0px 0px rgb(158, 158, 158);
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card, .backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: var(--main-color) !important;
}

.frontside .card .card-title, .backside .card .card-title {
    color: var(--main-color) !important;
    font-size: var(--ftH3);
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.backside .card {
    overflow-y: scroll;
    height: 340px;
    width: 340px;
    padding-bottom: 30px;
}

.abtWrap .abtConWrp {
    display: flex;
}

.teamWrap {
    width: 100%;
}

.teamHdr {
    width: 33%;
    margin-bottom: 10px;
    display: inline-block;
}

.backside .card {
    width: 350px;
}

.backside .card .card-text {
    font-size: var(--ftH4);
}

.abtCol1 p {
    color: var(--color-lightGray);
}

/* mobile */

@media (max-width:767px) {
    #pageWrap {
        width: 100%;
    }
    .mNone {
        display: none;
    }
    a.navbar-brand {
        width: 100%;
    }
    /* header mob */
    .accHdrWrap {
        height: 30px;
        position: relative;
    }
    .accHdrWrap .collapse {
        display: block;
    }
  
    .accHdrWrap .navbar-nav {
        flex-direction: row;
    }
    .header {
        /* background-color: var(--main-color); */
        height: 240px;
    }
    .payHeader {
        height: 110px;
    }
    .navbar-logo img {
        width: 100%;
    }
    .slogHdr {
        width: 95%;
        margin-top: 10px;
        position: relative;
        bottom: 0px;
        right: 0;
        left: 0;
    }
    .accHdrWrap #navbarNavDropdown {
        position: absolute;
        top: 180px;
        z-index: 1;
    }
    .mMenu {
        position: absolute;
        z-index: 1;
        top: 180px;
        left: 0;
    }
    .mMenu .fa.fa-fw.fa-bars {
        color: #000;
        font-size: 40px;
    }
    .sidebar {
        position: absolute;
        left: -1000px;
    }
    .sidebar.fliph {
        position: absolute;
        left: 0px;
        width: 100%;
        z-index: 1;
    }
    .navbar-toggleable-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .sidebar.fliph li a .nav-label, .sidebar.fliph li a .nav-label+span {
        display: inline-block;
    }
    .banrHdr {
        width: 100%;
    }
    .banrImg img {
        width: 95%;
        height: 240px;
    }
    .banrHdr .banrCont {
        padding: 30px;
        margin-left: 30px;
    }
    .banrImg .banrCont {
        top: 35px;
    }
    .bannerAd img {
        width: 100%;
    }
    .footBand {
        /* display: block; */
    }
    .footer .subsc-hdr {
        display: block;
        width: 100%;
    }
    .footer .subSoc {
        display: block;
    }
    .footer .subsc-hdr .subsc-form {
        margin: 20px 0px;
    }
    .footer .footerLink {
        display: block;
    }
    .serachHdr .serachInpWrap {
        display: flex;
        text-align: center;
        width: 90%;
        justify-content: center;
        margin: 0 auto;
    }
    .serachInpWrap .dropdown {
        width: 95% !important;
        margin: 0;
        padding-left: 45px;
    }
    .serachInpWrap .btnHdr .btn {
        width: 100%;
    }
    .serachInpWrap .sbCont {
        padding: 9px 10px;
    }
    .serachInpWrap .sbCont span {
        display: none;
    }
    .serachInpWrap .sbCont i {
        font-size: 20px;
        color: var(--color-white);
        display: block;
    }
    .filterWrap .asideFilter {
        width: 100%;
        float: none;
    }
    .filterWrap .flListHdr {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .filterWrap .flListHdr .slid-hdr {
        display: inline-block;
        width: 46%;
        margin: 5px;
    }
    
    .flListHdr .slide-Item {
        width: 100%;
    }
    .bootstrap-select>.dropdown-toggle{
        padding-top: 10px;
    }

.filterWrap {
    /* margin-top: 20px; */
    /* padding: 0px 20px; */
    padding-right: 20px;
}
    .authWrap.art-wrap .artCol{
        width:100%;
    }
    .authWrap.art-wrap{
        border-bottom:none;
    }
    .art-wrap {
        display: block;
        height: auto;
    }
    .art-wrap .artCol {
        width: 100%;
        padding: 30px;
    }
    .art-wrap .slider {
        float: none;
        width: 100%;
        display: flex;
    }
    .art-wrap .slider .slide-Item {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .sliderWrap .slide-Item {
        width: 97%;
    }
    .slide-Item .img {
        width: 100%;
    }
    .slide-Item .img img {
        width: 100px;
        height: auto;
        margin: 0 auto;
    }
    .art-wrap .slider .slid-hdr {
        float: none;
        width: 45%;
        margin: 0 auto;
    }
    .sliderWrap .owl-stage-outer {
        width: inherit;
    }
    .authSide {
        width: 100%;
        margin-top: 20px;
    }
    .authSide .slider {
        padding-left: 10px;
    }
    .authSide .slider .slid-hdr {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .prdWrap {
        margin-top: 20px;
        padding: 10px 20px;
    }
    .prdWrap .prdWrap-img {
        width: 100%;
        padding-right: 0px;
    }
    .prdWrap-cont {
        width: 100%;
        float: right;
        margin-top: 20px;
    }
    /* .prdWrap-cont .qty {
        width: 35%;
    } */
    .dtlContCol {
        float: none;
        width: 100%;
    }
    .prodautWrap {
        padding: 0px 20px;
    }
    .prodautHdrWrp {
        width: 100%;
    }
    .prodDtlHdr {
        width: 100%;
        float: none;
    }
    .prodautHdr h4 {
        font-size: var(--ftH2);
    }
    .prodautHdr .contHdr .content {
        font-size: var(--ftH3);
        line-height: 24px;
    }
    .prodaut {
        margin-bottom: 30px;
    }
    .cartCol2, .cartCol1 {
        width: 100%;
    }
    .cartCol2 {
        margin-top: 20px;
    }
    .cartCol2 .prc, .cartCol2 .subTotal {
        font-size: var(--ftH2);
    }
    .cartOrderWrap {
        float: left;
        width: 100%;
    }
    .cartSlide {
        float: right;
        width: 100%;
    }
    .cartSlide .slid-hdr {
        width: 100%;
    }
    .cartSlide .slid-hdr .slide-Item {
        width: 90%;
    }
    .delAddWrap {
        padding: 0px 20px;
    }
    .delAddHdr {
        width: 100%;
    }
    .formGroup label {
        font-size: var(--ftH3);
    }
    .formGroup input {
        font-size: var(--ftH3);
    }
    .cartOrderWrap {
        margin-top: 20px
    }
    .cartOrderWrap .head {
        font-size: var(--ftH2);
    }
    .confWrap {
        padding: 0px 20px;
    }
    .ordPrd {
        width: 100%;
    }
    .ordPrd .bkauth {
        width: 50%;
    }
    .ordAdd, .ordAdd p {
        text-align: left;
    }
    .flitCatWrapHdr .filter {
        width: 85%;
    }
    .pbWrapHdr {
        display: block;
    }
    .pbWrapCol1 {
        width: 95%;
        padding: 20px 20px;
    }
    .accWrap .aside {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .accWrap .bSide {
        float: none;
        margin: 0 auto;
        padding: 10px;
        width: 90%;
    }
    .loginHdr {
        width: 90%;
    }
    .teamHdr, .backside {
        width: 100%;
        display: block;
    }
    .backside .card {
        width: 100%;
    }
    .flitCatHdr h4{
        font-size: var(--ftH2);
    }
    .footBand .col {
        text-align: center;
        width: 49%;
        display: inline-block;
    }
    .footBand {
        display: block;
    }
}