<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ErrorLogFolderPathClient" value="~/Logs/Lib.Client/" />
    <add key="ErrorLogFolderPathClientCmn" value="~/Logs/Lib.Client/Cmn/" />
    <add key="EnableCacheCnt" value="0" />
    <add key="ImageGalleryPathCnt" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathCnt" value="~/Logs/Core/Cnt/" />
    <add key="EnableCacheCmn" value="0" />
    <add key="ImageGalleryPathCmn" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathCmn" value="~/Logs/Core/Cmn/" />
    <add key="SMTPTimeout" value="20000" />
    <add key="EnableCacheEcm" value="0" />
    <add key="ImageGalleryPathEcm" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathEcm" value="~/Logs/Core/Ecm/" />
    <add key="EnableCacheEnt" value="0" />
    <add key="ImageGalleryPathEnt" value="http://localhost:61293/Gallery/" />
    <add key="ErrorLogFolderPathEnt" value="~/Logs/Core/Ent/" />
    <add key="EnableCacheFms" value="0" />
    <add key="ImageGalleryPathFms" value="http://www.krsinfoserve.com/AP/Gallery/ENT/" />
    <add key="ErrorLogFolderPathFms" value="~/Logs/Core/Fms/" />
    <add key="EnableCacheMst" value="0" />
    <add key="ImageGalleryPathMst" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathMst" value="~/Logs/Core/Mst/" />
    <add key="EnableCacheOrg" value="0" />
    <add key="ImageGalleryPathOrg" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathOrg" value="~/Logs/Core/Org/" />
    <!--<add key="ErrorLogFolderPathOrg" value="D:\Apps\TFS\DotNet\Default-4.5\Lib-4.5\Lib.Client\Srv.Client.Service\Logs\Core\Org/"/>-->
    <add key="EnableCachePay" value="0" />
    <add key="ImageGalleryPathPay" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathPay" value="~/Logs/Core/Pay/" />
    <add key="PTMBaseURL" value="https://securegw-stage.paytm.in" />
    <add key="PTMPayURL" value="https://securegw-stage.paytm.in" />
    <add key="PTMMerchantId" value="Global93475981445208" />
    <add key="EnableCacheTrn" value="0" />
    <add key="ImageGalleryPathTrn" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathTrn" value="~/Logs/Core/Trn/" />
    <add key="EnableCacheVrf" value="0" />
    <add key="ImageGalleryPathVrf" value="http://www.krsinfoserve.com/AP/Gallery/" />
    <add key="ErrorLogFolderPathVrf" value="~/Logs/Core/Vrf/" />
    <add key="QRCodeLogoPathVrf" value="D:\\Apps\\Vendors\\FlavourTiffins\\TFS\\\Web\\Web.Site\\images\\qrlogo.png" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="CntDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="CmnDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="EcmDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="EntDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="MstDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="OrgDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="PayDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="PayLogDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="TrnLogDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="VrfDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="FmsDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <!--<add name="CmnDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="EntDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="MstDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="OrgDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="PayDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="PayLogDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="VrfDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>
    <add name="FmsDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Fms;uid=FMSAdmin;pwd=~ih0B30p;"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfClientService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Srv.Client.WcfService.WcfClientService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfClientService" contract="Srv.Client.WcfService.IWcfClientService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SimpleEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Default" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfClientService" contract="Srv.Client.WcfService.IWcfClientService" name="BasicBinding_IWcfClientService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 267C1151-03EC-4EB8-9F87-785FBE01BD99-->