body {font-family:Verdana;font-size:8pt;}
input {font-family:Verdana;font-size:8pt;}
select {font-family:Verdana;font-size:8pt;}

/* Gridview Css  */ 
.gridHeader th { padding:5px; text-align:center; background-color:#B3A580; }
.gridRow td { padding:5px; text-align:left; background-color:#F4F0CB;}
.pager td{border-width: 0; padding: 0 6px; font-weight: bold;line-height: 12px;}
.pager a{color: #666;text-decoration: none;}
.pager a:hover{color: #424242;text-decoration: none;}
.rowMouseOutBG{cursor: pointer; background-color:#F4F0CB; }
.rowMourseOverBG{cursor: pointer; background-color:#DEE4E7; } 
.rwSelectedBG{cursor: pointer; background-color:#808080; }

/* Auction Display Tabs Css  */ 
.auctdisptab li{list-style: none;   display: inline;}
.auctdisptab a{padding: 5px 10px;display: inline-block;background: #666;color: #fff;text-decoration: none;}        
.auctdisptab a.active{background: #fff;color: #000; border:1px dotted;}
.auctdisptab a.inactive{padding: 5px 10px;display: inline-block;background: #666;color: #fff;text-decoration: none;}

/*Create Auction Tabs Css  */ 
.tabs li{list-style: none;   display: inline;}
.tabs a{padding: 5px 10px;display: inline-block;background: #666;color: #fff;text-decoration: none;}        
.tabs a.active{background: #fff;color: #000; border:1px dotted;}
.tableContainer tr td{white-space: nowrap;text-align: left;height: 20px;}

/*Auction ToolTip*/
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}
.tooltip 
{
	position:fixed ;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	/*opacity: 0.98;*/
}
#tooltip h3, #tooltip div { margin: 0; }

