<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ApplicationId" value="59B42742-D610-4F0A-92DC-B6A5153D6490"/>
    <add key="LogoutPageURL" value="~/Admin/Account/Login.aspx"/>
    <add key="ImagesPath" value="images/"/>
    <add key="PriceMerquee" value="REGULER: MONDAY TO THURSDAY: $3  |  FRIDAY TO SUNDAY &amp; HOLIDAY:  $5 "/>
    <add key="PriceMerqueeJr" value="BEAN BAG~MONDAY - THURSDAY :!$5,FRIDAY - SUNDAY / HOLIDAY:!$7|LOUNGER~MONDAY - THURSDAY :!$6,FRIDAY - SUNDAY / HOLIDAY:!$8|CINEMA SEAT~MONDAY - THURSDAY :!$7,FRIDAY - SUNDAY / HOLIDAY:!$9|SOFA BED~MONDAY - THURSDAY :!$8,FRIDAY - SUNDAY / HOLIDAY:!$10"/>
    <add key="SyncMode" value="0" />
    <add key="GalleryPath" value="" />
    <add key="URLName" value="/Web.Display/terminal/"/>
    <add key="EncryptedConn" value="0"/>
  </appSettings>
	<connectionStrings>
    <!--<add name="ImportDBConn" connectionString="lf6h3DLeZ8Ad6gXPjUUIHOry/Ypa3wLZuGAS1gWesBl5CUFerD0s3MiJFaVtMDn6E6EfDsHxUR7n/MxOR+l4TeAjudKr63ds6nPDJGdAWmEIN512jWiLfY9ojDJLEtMa"/>
    <add name="SyncDBConn" connectionString="lf6h3DLeZ8Ad6gXPjUUIHOry/Ypa3wLZuGAS1gWesBl5CUFerD0s3MiJFaVtMDn6HcUkKmEyi/1x/wfjFGxgWOyPNojOO7bDScJ0ZtkOlzbPCzlZYmDzMjtOnQoMELzT"/>
    <add name="DBConn" connectionString="lf6h3DLeZ8Ad6gXPjUUIHOry/Ypa3wLZuGAS1gWesBl5CUFerD0s3MiJFaVtMDn6HcUkKmEyi/1x/wfjFGxgWOyPNojOO7bDScJ0ZtkOlzbPCzlZYmDzMjtOnQoMELzT"/>-->
    <add name="ImportDBConn" connectionString="Data Source=144.76.173.126;Initial Catalog=VistaDB;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="SyncDBConn" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="DBConn" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
		<add name="ScheduleConnectionString" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
	</connectionStrings>
  <!--<system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <modules>
      <add name="URLRewriter" type="URLRewriter" />
    </modules>
  </system.webServer>-->
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <httpModules>
      <!--<add name="CacheModule" type="CacheModule" />-->
      <!--add name="URLRewriter" type="URLRewriter"/>-->
    </httpModules>
    <pages>
      <controls>
        <add tagPrefix="ctrl" src="~/Admin/UserControls/wucFileUpload.ascx" tagName="FileUpload"/>
      </controls>      
    </pages>
	</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
