<%@ master language="C#" autoeventwireup="true" inherits="masterpages_SitePageMaster, App_Web_sitepagemaster.master.7371103c" %>

<!DOCTYPE html>

<html>
<head runat="server">
	<title>
		<asp:Literal ID="xlitPageTitle" runat="server"></asp:Literal></title>

	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />

	<!-- Icons -->
	<!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
	<link rel="shortcut icon" href="../img/favicon-32x32.png" />
	<link rel="apple-touch-icon" href="../img/icon57.png" sizes="57x57" />
	<link rel="apple-touch-icon" href="../img/icon72.png" sizes="72x72" />
	<link rel="apple-touch-icon" href="../img/icon76.png" sizes="76x76" />
	<link rel="apple-touch-icon" href="../img/icon114.png" sizes="114x114" />
	<link rel="apple-touch-icon" href="../img/icon120.png" sizes="120x120" />
	<link rel="apple-touch-icon" href="../img/icon144.png" sizes="144x144" />
	<link rel="apple-touch-icon" href="../img/icon152.png" sizes="152x152" />
	<link rel="apple-touch-icon" href="../img/icon180.png" sizes="180x180" />
	<!-- END Icons -->

	<!-- Stylesheets -->
	<!-- Bootstrap is included in its original form, unaltered -->
	<link rel="stylesheet" href="../css/bootstrap.min.css" />

	<!-- Related styles of various icon packs and plugins -->
	<link rel="stylesheet" href="../css/plugins.css" />

	<!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
	<link rel="stylesheet" href="../css/main.css" />

	<!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

	<!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
	<link rel="stylesheet" href="../css/themes.css" />
	<!-- END Stylesheets -->
	<asp:ContentPlaceHolder ID="head" runat="server">
	</asp:ContentPlaceHolder>
</head>
<body>
	<form id="form1" runat="server">
		<asp:ScriptManager ID="xScrMgrAdmin" runat="server">
			<Scripts>
				<asp:ScriptReference Path="~/js/vendor/modernizr.min.js" />
				<asp:ScriptReference Path="~/js/vendor/jquery.min.js" />
				<asp:ScriptReference Path="~/js/vendor/bootstrap.min.js" />
				<asp:ScriptReference Path="~/js/plugins.js" />
				<asp:ScriptReference Path="~/js/app.js" />
				<asp:ScriptReference Path="~/js/web.comm-1.0.js" />
				<asp:ScriptReference Path="~/js/web.comm.nav-1.0.js" />
				<asp:ScriptReference Path="~/js/web.comm.datatable.helper-1.1.js" />
				<asp:ScriptReference Path="~/js/web.comm.req-1.0.js" />
				<asp:ScriptReference Path="~/js/web.comm.form.req-1.0.js" />
				<asp:ScriptReference Path="~/js/web.comm.form.ctrl-1.0.js" />
				<asp:ScriptReference Path="~/js/web.comm.file-1.0.js" />
				<asp:ScriptReference Path="~/js/web.main-1.0.js" />
			</Scripts>
		</asp:ScriptManager>
		<div>
			<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Preloader -->
				<div class="preloader themed-background">
					<h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
					<div class="inner">
						<h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
						<div class="preloader-spinner hidden-lt-ie10"></div>
					</div>
				</div>
				<!-- END Preloader -->

				<!-- Page Container -->
				<div id="page-container" class="header-fixed-top sidebar-partial sidebar-visible-lg sidebar-no-animations footer-fixed">
					<!-- Main Sidebar -->
					<div id="sidebar">
						<!-- Wrapper for scrolling functionality -->
						<div id="sidebar-scroll">
							<!-- Sidebar Content -->
							<div class="sidebar-content">
								<!-- Brand -->
								<a href="#" onclick="javascript:WebNavHelper.redirectToPageMain('home')" class="sidebar-brand">
									<i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>Admin</strong>Panel</span>
								</a>
								<!-- END Brand -->

								<!-- User Info -->
								<asp:Literal ID="xlitUserInfo" runat="server"></asp:Literal>
								<!-- END User Info -->

								<!-- Sidebar Navigation -->
								<ul class="sidebar-nav">
									<li>
										<a href="#" onclick="javascript:WebNavHelper.redirectToPageMain('home')">
											<i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span>
										</a>
									</li>
									<asp:Literal ID="xlitMenu" runat="server"></asp:Literal>
								</ul>
								<!-- END Sidebar Navigation -->
							</div>
							<!-- END Sidebar Content -->
						</div>
						<!-- END Wrapper for scrolling functionality -->
					</div>
					<!-- END Main Sidebar -->

					<!-- Main Container -->
					<div id="main-container">
						<!-- Header -->
						<header class="navbar navbar-default navbar-fixed-top">
							<!-- Left Header Navigation -->
							<ul class="nav navbar-nav-custom">
								<!-- Main Sidebar Toggle Button -->
								<li>
									<a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
										<i class="fa fa-bars fa-fw"></i>
									</a>
								</li>
								<!-- END Main Sidebar Toggle Button -->
							</ul>
							<!-- END Left Header Navigation -->

							<!-- Right Header Navigation -->
							<ul class="nav navbar-nav-custom pull-right">
								<!-- User Dropdown -->
								<asp:Literal ID="xlitUserDropdown" runat="server"></asp:Literal>
								<!-- END User Dropdown -->
							</ul>
							<!-- END Right Header Navigation -->
						</header>
						<!-- END Header -->

						<!-- Page content -->
						<div id="page-content">
							<div id="divPageHeader" runat="server" class="content-header" visible="false">
								<div class="header-section">
									<h1>
										<asp:Literal ID="xlitPageCaption" runat="server"></asp:Literal>
									</h1>
								</div>
							</div>
							<ul id="divPageBreadcrumb" runat="server" class="breadcrumb breadcrumb-top" visible="false">
								<asp:Literal ID="xlitPageBreadcrumb" runat="server"></asp:Literal>
							</ul>
							<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
							</asp:ContentPlaceHolder>
						</div>
						<!-- END Page Content -->

						<!-- Footer -->
						<footer class="clearfix">
							<div class="pull-right">
								Created by <a href="http://www.krsinfoserve.com/" target="_blank">KRS Infoserve LLP</a>
							</div>
							<div class="pull-left">
								
							</div>
						</footer>
						<!-- END Footer -->
					</div>
					<!-- END Main Container -->
				</div>
				<!-- END Page Container -->
			</div>
			<!-- END Page Wrapper -->

			<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
			<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

			<div id="modalProgressBox" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Please wait...</h4>
						</div>
					</div>
				</div>
			</div>

			<!-- Regular Modal 2 -->
			<div id="modalSiteMsgBox" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 id="modalSiteMsgBoxTitle" class="modal-title">Title</h3>
						</div>
						<div id="modalSiteMsgBoxBody" class="modal-body">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- END Regular Modal 2 -->

			<!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
			<div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header text-center">
							<h2 class="modal-title"><i class="fa fa-pencil"></i>Settings</h2>
						</div>
						<!-- END Modal Header -->

						<!-- Modal Body -->
						<div class="modal-body">
							<div class="form-horizontal form-bordered">
								<fieldset>
									<legend>Password Update</legend>
									<div class="form-group">
										<label class="col-md-4 control-label" for="txtPwd">Password</label>
										<div class="col-md-8">
											<input type="password" id="txtPwd" name="txtPwd" class="form-control" placeholder="Please enter you password..">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label" for="txtNewPwd">New Password</label>
										<div class="col-md-8">
											<input type="password" id="txtNewPwd" name="txtNewPwd" class="form-control" placeholder="Please choose a complex one..">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label" for="txtNewPwdRe">Confirm New Password</label>
										<div class="col-md-8">
											<input type="password" id="txtNewPwdRe" name="txtNewPwdRe" class="form-control" placeholder="..and confirm it!">
										</div>
									</div>
								</fieldset>
								<div class="form-group form-actions">
									<div class="col-xs-12 text-right">
										<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-sm btn-primary" id="btnSavePwd">Save Changes</button>
									</div>
								</div>
							</div>
						</div>
						<!-- END Modal Body -->
					</div>
				</div>
			</div>
			<!-- END User Settings -->
		</div>
	</form>
</body>
</html>
