/* @import url('https://fonts.googleapis.com/css2?family=Prata&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Ubuntu:wght@300;500&display=swap'); */
@import url('fonts/fontStyle.css');

:root {
    --primary: #ECAEB9;
    --primary_100: #fff4f5;
    --primary_200: #F8D0D7;
    --primary_300: #F5B7C2;
    --primary_400: #dbbab9;
    --primary_500: #EC758A;
    --primary_600: #E23755;
    --secondary: #f8e7ec;
    --black: #000;
    --black_700: #484848;
    --white: #ffff;
    --ftRegular: 'dm_serif_displayregular';
    --ftItalic: 'dm_serif_displayitalic';
    --ft3: 14px;
    --ft16: 16px;
    --ft6: 28px;
    --ft18: 18px;
    --ft20: 20px;
    --ft8: 32px;
}

body {
    font-family: var(--ftRegular);
    background-color: #fff;
    color: var(--black_700);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .btn {
    font-family: var(--ftRegular);
}

h2, .h2 {
    font-size: 32px;
}

.title-color {
    color: var(--black_700);
}

h1, .h1 {
    font-size: var(--ft6);
}

.divider {
    width: 40px;
    height: 5px;
    background-color: var(--primary_300);
}

.pageWrap {
    width: 80%;
    margin: 0 auto;
}

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2000;
    background-color: #ffff;
}

.loader-wrapper .img-gif img {
    width: 100px;
    height: auto;
}

.logo img {
    max-width: 200px;
}

.section {
    padding: 50px 0;
}

.btn-round-full {
    border-radius: 50px 50px 50px 0px;
}

.btn-wrap {
    display: flex;
}

.btn-main-2:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-wrap a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: capitalize;
}

.btn-main-2 {
    background: var(--primary_500);
    color: var(--white) !important;
    border-color: var(--primary_500);
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-family: var(--ftRegular);
    font-size: 1.3rem;
    height: 55px;
    font-weight: 100;
}

.btn.btn-icon i {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    padding-left: 5px;
}

.icofont-play-alt-2 {
    font-size: 34px;
    margin-right: 10px;
    color: var(--primary_500);
    font-weight: 100;
}

/* header link */
#navbarmain .nav-link {
    font-family: var(--ftRegular);
    font-weight: 100;
}

.navbar {
    padding: 0px;
    margin-bottom: 10px;
}

.navBg {
    border-top: 15px solid var(--primary);
    border-bottom: 15px solid var(--primary);
}

/* banner */
.banner {
    min-height: 350px;
}

.banner .block h1 {
    color: var(--black);
    font-weight: 100;
}

.banr-hdr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--primary_200);
}

.banr-hdr-cont {
    display: flex;
    flex-direction: column;
}

.banr-hdr-cont h1 {
    font-size: 3rem;
    font-weight: 100;
}

.banrImg img {
    max-height: 400px;
}

.banr-hdr-cont .btn-wrap {
    margin-top: 20px;
}

.blog_wrap {
    display: flex;
    overflow: hidden;
    border-top: 1px solid #ccc;
    padding-top: 40px;
    border-bottom: 1px solid #ccc;

}

.blog_wrap .blgHdr .overImg {
    opacity: .5;
}

.blog_wrap .vid-mobHdr {
    margin: 0px 7%;

}

.blgHdr {
    background-color: #f4f5ec;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    position: relative;
    text-align: center;
    height: 500px;
    padding: 10px 20px;
    margin: 0 20px;
}

.blgHdr .imgIcn {
    margin: 20px 0px;
}

.blgHdr h2 {
    font-size: var(--ft6);
}

.blgHdr a {
    background-color: #bed3a2;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 0px;
    color: var(--white);
}

.blgHdr .overImg {
    position: absolute;
    max-height: 100px;
    bottom: 0px;
    right: 0;
    filter: opacity(0.3);
}

.blgHdr.bgCol2 {
    background-color: #eff4f3 !important;
}

.headImg {
    position: relative;
}

.headImg img {
    top: -10px;
    position: absolute;
    width: 60px;
    /* opacity: 0.6; */
    left: -50px;
}

.headImg02 img {
    position: absolute;
    width: 60px;
    opacity: 0.4;
    left: 15px;
    transform: rotate(355deg);
    top: -10px;
    z-index: -1;
}

.headImg03 img {
    position: absolute;
    width: 60px;
    opacity: 1;
    left: 45%;
    transform: rotate(355deg);
    top: -10px;
    z-index: 0;
}

.section-title h2 {
    color: var(--black_700);
    z-index: 1;
    position: relative;
}

.testimonial-2 {
    /* background: url(../images/ban_test.png) no-repeat; */
    /* background-size: cover; */
    background-color: var(--primary_300);
}

.testimonial-2 {
    padding-top: 40px;
}

.cta-section {
    margin-bottom: 0px;
}

.headTile-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* service */
.servc-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.serHdr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.serHdr img {
    width: 25%;
}

ul.home_icn {
    padding-left: 0px;
}

.home_icn li {
    list-style: none;
}

.home_icn li i {
    margin-right: 10px;
    margin: 20px 10px 20px 0px;
}

.home_icn li i img {
    width: 50px;
}

/* footer */
.copyright {
    /* background-color: #fff3e9; */
    text-align: center;
    padding: 10px;
    color: var(--black_700);
}

.experHdr {
    /* background: url(../images/ban_exp.png) no-repeat; */
    background-position: cover;
    padding: 40px 0px;
    background-color: var(--primary_200);
    border-radius: 10px;
}

footer#footer {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 0px;
}

.appoinment {
    border-bottom: 3px solid var(--secondary);
    margin-bottom: 20px;
    background-color: var(--secondary);
}

.section-title {
    margin-bottom: 50px;
}

.widget .footer-menu a {
    color: var(--black_700);
}

.footer-socials li a {
    background-color: var(--primary_300);
}

/* form */
.appoinment-content .emergency {
    position: absolute;
    content: "";
    right: 10px;
    bottom: 20px;
    background: var(--secondary);
    padding: 48px;
}

.appoinment-content .emergency h2, .appoinment-content .emergency i {
    color: var(--primary);
}

/* background banner  */
.bg-skin {
    background: url(../images/skin_banr.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.bg-baf {
    background: url(../images/baf_banr.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.bg-clinic {
    background: url(../images/clinic_ban.png) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

/*  */
.page-title {
    padding: 0px;
    position: relative;
    margin: -5px 0px;

}

.page-title .block h1 {
    color: var(--primary_500);
}

.skinSlider p {
    margin: 0px;
    text-align: center;
    font-size: 12px;
}

.treatPage {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.treatPage p {
    margin: 0px;
}

.treatPage ul {
    margin: 0px;
    padding-left: 15px;
}

.treatPage h2 {
    font-size: 20px;
}

.listCont ul, .listCont ul li ul {
    margin: 0px;
    padding: 0px;
}

.listCont ul li {
    list-style: none;
    font-size: 14px;
    /* width: 48%; */
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.listCont ul li ul li {
    width: 100%;
}

.listCont p {
    font-size: 12px;
    margin: 0px;
}

.bfaHdr #comparison {
    margin: 0 auto;
}

.bfaHdr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta:before {
    background-color: var(--primary_600);
}

/* clinic */
.gal-wrap {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    margin-left: 5%;

}

.galHdr {
    width: 45%;
    margin: 10px;
    margin-bottom: 20px;
}

.about-content {
    font-family: var(--ftRegular);
    font-weight: 100;
    font-size: var(--ft16);
}

.about-img img {
    box-shadow: none;
}

.mod-video-wrap {
    background-color: var(--black);
    max-width: 80%;
    height: auto;
    position: relative;
}

.mod-video {
    width: 100%;
    height: auto;
    padding: 0px;
}

.mod-video .modal-body {
    padding: 5px;
    background-color: var(--black);

}

a.modal-close {
    position: absolute;
    z-index: 11;
    right: 0px;
    top: 0px;
    background: black;
    color: #fff !important;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
}

.mobImg {
    background: url(../images/mob_01.png);
    width: 240px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.mobImgVid {
    overflow: hidden;
    width: 215px;
    height: 460px;
    border-radius: 20px;
    position: relative;
    top: 15px;
    border-radius: 20px;
}

.mobImgVid video {
    height: 485px;
    border-radius: 20px;
    position: absolute;
    right: -310px;
    border-radius: 15px;
    overflow: hidden;
    border-radius: 15px;
}

.serMimg .mobImgVid video {
    right: -190%;
}

.mobImgVid02 video {
    height: 485px;
    border-radius: 20px;
    position: absolute;
    left: -250px;
    border-radius: 15px;
    overflow: hidden;
    border-radius: 15px;
}

.vid-mobHdr {
    display: flex;

}

.vid-mobHdr .top-100 {
    position: relative;
    top: 50px;
}

.subLine {
    font-size: 18px;
    color: var(--black_700);
    font-family: var(--ftRegular);
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: var(--primary_600);
}

.vid-wrap {
    min-height: 550px;
}

.proced-img {
    /* width: 50%; */

}

.testimonial-thumb {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary_300);
    border-radius: 100px;
    margin-right: 20px;
    color: #fff;
}

.testimonial-block .client-info h4 {
    margin-top: 5px;
}

.testimonial-block.style-2 {
    background: #fff;
    padding: 30px;
    margin: 0px 4px;
    margin-bottom: 30px;
    min-height: 300px;
}

.contUs-img img {
    /* opacity: 0.6; */
    height: 310px;
}

.serviceWrap {
    border-bottom: 1px solid #ccc;
}

.hangImg {
    position: absolute;
    height: 100%;
    left: -30px;
}

.hangImg img {
    position: absolute;
    width: 80px;
    height: auto;
    bottom: 0px;
    filter: unset;
}

.proce-wrap {
    margin-bottom: 10px;
}

.cont-img {
    position: relative;
}

/* bg banner */
.bg-cont {
    position: relative;
    background-color: var(--primary_100);
}

.banImg {
    position: absolute;
    top: 20px;
    right: 100px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.pageBnr {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangBnr-img {
    position: absolute;
    top: 0px;
    left: 100px;
    height: 270px;
}

.hangBnr-img-right {
    position: absolute;
    top: 0px;
    right: 100px;
    height: 270px;
}

.hangBnr-img img,
.hangBnr-img-right img {
    height: 100%;
    width: auto;
}

.doctor-skill {
    background-color: var(--primary_100);
    padding: 2rem;
    margin-bottom: 20px;
}

.hanghdr {
    position: relative;
}

.hanghdr.drHdr .hangImg {
    left: 0px;
    top: 25px;
}

.section.doctors {
    padding-bottom: 0px;
}

.bgCol1 {
    background-color: var(--primary_100);
}

.about-img .contImg {
    /* transform: scale(1.5) */
}

.backtop {
    background: var(--primary);
}

.counter-stat {
    color: var(--white);
}

.cust-cont {
    display: flex;
    justify-content: space-between;
}

.col-img {
    width: 400px;
    height: 400px;
    display: inline-block;
}

.imgDesc {
    line-height: 20px;
    padding-top: 10px;
    font-family: var(--ftItalic);
    color: var(--primary_600);
}

.descHiglt {
    font-style: italic;
    font-family: var(--ftItalic);
    font-size: var(--ft18);
    color: var(--primary_600);
}

.pointHiglt {
    font-weight: 700;
    font-size: var(--ft18);
    color: var(--primary_600);

}

.wc-content p b {
    font-size: var(--ft20);
}

.listCont strong {
    font-family: var(--ftRegular);
    font-weight: 700;
    color: var(--primary_600);

}

@media screen and (max-width:760px) {
    .navbar {
        padding: 0px;
    }

    .pageWrap {
        width: 100%;
        padding: 0 20px;
    }

    .banr-hdr {
        display: flex;
        flex-direction: column;
    }

    .banrImg {
        order: 1;
    }

    .banr-hdr-cont {
        order: 2;
    }

    .btn-wrap {
        display: flex;
        flex-direction: column;
    }

    .vid-wrap {
        transform: scale(0.7);
    }

    .vid-wrap1 .mobImgVid {
        transform: scale(.9);
        top: -10px;
    }

    .mobImgVid {
        transform: scale(1);
        top: 15px;
    }

    .mobImg {
        margin: 0 10px;
    }

    .blog_wrap {
        flex-direction: column;
    }

    .blgHdr {
        width: 100%;
    }

    .proced-img {
        /* width: 50%; */
        margin: 20px 0px;
    }

    .testimonial-block.style-2 {
        background: #fff;
        padding: 30px;
        margin: 0px 4px;
        margin-bottom: 30px;
        height: 450px;
    }

    .servc-wrap {
        justify-content: center;
    }

    .serMimg {
        margin: 20px 0px;
    }


    .pageBnr {
        position: relative;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hangBnr-img {
        position: absolute;
        top: 20px;
        left: -10px;
        height: 130px;
    }

    .hangBnr-img-right {
        position: absolute;
        top: 20px;
        right: -10px;
        height: 130px;
    }

    .listCont ul li {
        width: 100%;
    }

    div#comparison {
        width: 90vw;
        height: 90vw;
    }

    .galHdr {
        width: 100%;
    }

    .experHdr {
        padding: 10px;

    }

    .mod-video-wrap {
        max-width: 100%;
    }

    .cust-cont {
        display: block;
    }

    .cust-cont .col-6 {
        max-width: 100%;

    }

    .about-img .contImg {
        /* transform: scale(1.5); */
        height: 300px;
    }

}