<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AppSourceConfigId" value="6973FB07-7434-419F-858B-3CA90649C015"/>
    <add key="AppSourceAuthKey" value="1AD7BD9D705D4483"/>
    <add key="EntityTypeConfigId" value="FDA5EACE-A9B2-4371-A22E-D7D441CED125"/>
    <add key="EntityConfigId" value="12FF9E27-4E83-4426-910F-B728A7530A04"/>
	<add key="WebAppId" value="8"/>
    <add key="EnableSSL" value="0"/>
    <add key="ImageGalleryPath" value=""/>
    <add key="SiteUrl" value="http://www.krsinfoserve.com/AP/"/>
    <add key="ErrorLogFolderPathWeb" value="~/Logs/Web.Site/"/>
    <add key="ErrorLogFolderPathClient" value="~/Logs/Lib.Client/"/>
    <add key="ErrorLogFolderPathClientCmn" value="~/Logs/Lib.Client/Cmn/"/>
    <add key="EnableCacheCnt" value="0"/>
    <add key="ImageGalleryPathCnt" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathCnt" value="~/Logs/Core/Cnt/"/>
    <add key="EnableCacheCmn" value="0"/>
    <add key="ImageGalleryPathCmn" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathCmn" value="~/Logs/Core/Cmn/"/>
    <add key="SMTPTimeout" value="20000"/>
    <add key="EnableCacheEcm" value="0"/>
    <add key="ImageGalleryPathEcm" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathEcm" value="~/Logs/Core/Ecm/"/>
    <add key="EnableCacheEnt" value="0"/>
    <add key="ImageGalleryPathEnt" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathEnt" value="~/Logs/Core/Ent/"/>
    <add key="EnableCacheFms" value="0"/>
    <add key="ImageGalleryPathFms" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathFms" value="~/Logs/Core/Fms/"/>
    <add key="EnableCacheMst" value="0"/>
    <add key="ImageGalleryPathMst" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathMst" value="~/Logs/Core/Mst/"/>
    <add key="EnableCacheOrg" value="0"/>
    <add key="ImageGalleryPathOrg" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathOrg" value="~/Logs/Core/Org/"/>
    <add key="EnableCachePay" value="0"/>
    <add key="ImageGalleryPathPay" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathPay" value="~/Logs/Core/Pay/"/>
    <add key="PTMBaseURL" value="https://securegw-stage.paytm.in"/>
    <add key="PTMPayURL" value="https://securegw-stage.paytm.in"/>
    <add key="PTMMerchantId" value="Global93475981445208"/>
    <add key="EnableCacheTrn" value="0"/>
    <add key="ImageGalleryPathTrn" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathTrn" value="~/Logs/Core/Trn/"/>
    <add key="EnableCacheVrf" value="0"/>
    <add key="ImageGalleryPathVrf" value="http://www.krsinfoserve.com/AP/Gallery/"/>
    <add key="ErrorLogFolderPathVrf" value="~/Logs/Core/Vrf/"/>
    <add key="QRCodeLogoPathVrf" value="D:\\Apps\\Vendors\\FlavourTiffins\\TFS\\\Web\\Web.Site\\images\\qrlogo.png"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="CntDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="CmnDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="EcmDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="EntDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="MstDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="OrgDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="PayDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="PayLogDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="TrnLogDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="VrfDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    <add name="TrnDBConnection" connectionString="Data Source=144.76.173.126;Initial Catalog=DB.App.Default;uid=KRSDefaultDB;pwd=P_sg84r7;"/>
    
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>