$light: #fff;
$primary-color: #eeb4b2;
$secondary-color: #f8e7ec;
$base-color: #999;
$title-color: #000;
$black: #222;
$gray: #eff0f3;
$secondary-bg: #f4f9fc;
$border-color: #fafafa;
$primary-font: 'Prata', serif;
// $secondary-font:'Roboto', sans-serif;

$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);