<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <!--section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>-->
      </sectionGroup>
    </sectionGroup>
    <section name="DataAccessSettings" type="Framework.EnterpriseLibrary.DataAccess.Entities.DataAccessSettings, Framework.EnterpriseLibrary.DataAccess.Entities"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
  </configSections>
  <DataAccessSettings defaultDatabase="SQL" cachingPolicy="Cache Manager" exceptionPolicy="Default Exception Policy" commandTimeOut="120"/>
  <exceptionHandling configSource="Configs\exceptionHandlingConfiguration.config"/>
  <loggingConfiguration configSource="Configs\loggingConfiguration.config"/>
  <cachingConfiguration configSource="Configs\cachingConfiguration.config"/>
  <connectionStrings>
    <add name="SQL" providerName="system.data.sqlclient" connectionString="Data Source=DESKTOP-Q1PV0HT\SQLEXPRESS;Initial Catalog=DB.App.Auc;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="PGWorkingKey" value="8E1C8F1AA13FBE06BDCD65A6F885A856"/>
    <add key="PGAccessCode" value="AVTN00CF19BJ97NTJB"/>
    <add key="PGUrl" value="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction"/>
    <add key="PGResponseUrl" value="http://localhost:50579/InfiAuctionWebsite/PaymentCenter/PGResponse.aspx"/>
    <!--<add key="PGWorkingKey" value="4AF08BCD402E12A2E058CF69FDE18806"/>
    <add key="PGAccessCode" value="AVGK00CF20BY57KGYB"/>
    <add key="PGUrl" value="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction"/>
    <add key="PGResponseUrl" value="http://123.63.67.117/InfiAuction/PaymentCenter/PGResponse.aspx"/>-->
    <add key="CustomerVerificationUrl" value="http://localhost:50438/Admin/CustomerVerification.aspx?REF="/>
    <add key="CustomerResetLink" value="http://localhost:50438/Admin/ResetPassword.aspx?REF="/>
    <add key="FeedbackEmailID" value="neetish.tewari@infiniacs.com"/>
    <add key="AppCurrency" value="INR"/>
    <add key="AppPayType" value="COD"/>
    <add key="LoginURL" value="www.renepay.com"/>
    <add key="IPNavigationUrl" value="http://www.ipaddressapi.com/l/7bfa15d3e5aa1fa5216fe5553fa2f3b837d2f4385cb2?h="/>
    <add key="SGURL" value="https://sg.renepay.com/"/>

    <add key="SMTPHost" value="smtp.mandrillapp.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUName" value="info@renepay.info"/>
    <add key="SMTPPwd" value="T_QB3oeTRHeZ6dDMZXF_qg"/>
    <add key="SMTPCC" value=""/>
    <add key="SMTPSender" value="notifications@renepay.info"/>
    <!--<add key="DealConfigURL" value="http://localhost:50438/Deals/Deals.aspx?ConfigId="/>
    <add key="DealPayURL" value="http://localhost:50438/Deals/DealPOPayment.aspx?Config="/>-->
    <add key="ChatURL" value="F:\VSTFS\CS_Working\RenepayTest\InfiAuction.Solution\InfiAuction.Services.InfiAuctionWindowsService.Renepay\bin\Chat"/>
    <add key="SMSServer" value="103.16.101.52"/>
    <add key="SMSPort" value="8080"/>
    <add key="SMSUserName" value="infn-radhika"/>
    <add key="SMSPWD" value="radhika1"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuction" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="02:00:00" sendTimeout="02:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7077/InfiAuctionService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuction" contract="AuctionService.IAuction" name="BasicHttpBinding_IAuction"/>
      <!--<endpoint address="http://localhost:7057/InfiAuctionService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuction" contract="AuctionService.IAuction" name="BasicHttpBinding_IAuction"/>-->
    </client>
  </system.serviceModel>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!--<add tagPrefix="ctrl" src="~/UserControls/wucFileUpload.ascx" tagName="FileUploader"/>-->
        <!--<add tagPrefix="ctrl" src="~/UserControls/wucCurrency.ascx" tagName="Currency"/>-->
        <!--<add tagPrefix="ctrl" src="~/UserControls/wucRatings.ascx" tagName="Ratings"/>-->
        <add tagPrefix="ctrl" src="~/UserControls/wucUploadFile.ascx" tagName="UploadFile"/>
        <add tagPrefix="ctrl" src="~/UserControls/wucSiteFooter.ascx" tagName="SiteFooter"/>
        <add tagPrefix="ctrl" src="~/UserControls/wucProgressBar.ascx" tagName="ProgressBar"/>
        <add tagPrefix="ctrl" src="~/UserControls/wucVendorDetails.ascx" tagName="VendorDetails"/>
        <add tagPrefix="ctrl" src="~/UserControls/wucFAQs.ascx" tagName="FAQ"/>
        <add tagPrefix="ctrl" src="~/UserControls/wucUserFeedback.ascx" tagName="Feedback"/>
      </controls>
    </pages>
    <!--<httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true"/>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>